:root {
    --primary: #425f87;
    --secondary: #f4ffff;
    --tertiary: #617dd6;
    --quaternary: #96ccbf;
    --header_background: #b9d3f8;
    --header_primary: #fff;
    --highlight: #f8ceea;
    --danger: #f86f6b;
    --success: #fcb4b5;
    --love: #7f9cf3;
    --always-black-rgb: 0, 0, 0;
    --primary-rgb: 66,95,135;
    --primary-low-rgb: 234.24627,238.70448,244.85373;
    --secondary-rgb: 244,255,255;
    --header_background-rgb: 185,211,248;
    --tertiary-rgb: 97,125,214;
    --primary-very-low: #f9fafc;
    --primary-low: #eaeff5;
    --primary-low-mid: #c1cee1;
    --primary-medium: #97aecc;
    --primary-high: #6e8db8;
    --primary-very-high: #5175a6;
    --header_primary-low: #c1d8f9;
    --header_primary-low-mid: #d4e3fa;
    --header_primary-medium: #e2ecfc;
    --header_primary-high: #ecf3fd;
    --header_primary-very-high: #f9fbfe;
    --secondary-low: #009696;
    --secondary-medium: #00fafa;
    --secondary-high: #45ffff;
    --secondary-very-high: #d1ffff;
    --tertiary-low: #e7ecf9;
    --tertiary-medium: #b0beeb;
    --tertiary-high: #8197de;
    --tertiary-hover: #3051b9;
    --quaternary-low: #e0f0ec;
    --highlight-low: #fdf0f9;
    --highlight-medium: #fce7f5;
    --highlight-high: #c71c8e;
    --danger-low: #fee9e9;
    --danger-medium: #fa9a97;
    --danger-hover: #f52d27;
    --success-low: #fef0f0;
    --success-medium: #fedada;
    --success-hover: #f96163;
    --love-low: #ecf0fd;
    --blend-primary-secondary-5: #eef9fa;
    --primary-med-or-secondary-med: #97aecc;
    --primary-med-or-secondary-high: #97aecc;
    --primary-high-or-secondary-low: #6e8db8;
    --primary-low-mid-or-secondary-high: #c1cee1;
    --primary-low-mid-or-secondary-low: #c1cee1;
    --primary-or-primary-low-mid: #425f87;
    --highlight-low-or-medium: #fdf0f9;
    --tertiary-or-tertiary-low: #617dd6;
    --tertiary-low-or-tertiary-high: #e7ecf9;
    --tertiary-med-or-tertiary: #b0beeb;
    --secondary-or-primary: #f4ffff;
    --tertiary-or-white: #617dd6;
    --facebook-or-white: #1877f2;
    --twitter-or-white: #1da1f2;
    --hljs-comment: #998;
    --hljs-number: #099;
    --hljs-string: #d14;
    --hljs-literal: #458;
    --hljs-tag: #000080;
    --hljs-attribute: #008080;
    --hljs-symbol: #990073;
    --hljs-bg: #f8f8f8;
    --google: #fff;
    --google-hover: #f2f2f2;
    --instagram: #e1306c;
    --instagram-hover: #ac194b;
    --facebook: #1877f2;
    --facebook-hover: #0a54b3;
    --cas: #70ba61;
    --twitter: #1da1f2;
    --twitter-hover: #0c85d0;
    --github: #100e0f;
    --github-hover: #463e42;
    --discord: #7289da;
    --discord-hover: #4a67cf;
    --gold: #e7c300;
    --bronze: #cd7f32;
}
